# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Ignores deployment scripts' artifacts
deployments/*
/deployments

# Test artifacts
*.t.sol.d
test/**/*.t.sol.d
.env
# Docs
docs/

